.single-student {
    line-height: 0.5em;
    margin-bottom: 3em;
    border: 2px solid white;
    padding: 1em;
    width: fit-content;
}

.students-div {
    margin-left: 2em;
    margin-top: 2em;
}